# EditorConfig helps developers define and maintain consistent
# coding styles between different editors and IDEs
# editorconfig.org

root = true


[**]
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true
indent_style = space
indent_size = 2

[**.php]
indent_style = space
indent_size = 4

[**.{js,jsx}]
indent_style = space
indent_size = 2

[**.{css,scss,less,styl}]
indent_style = space
indent_size = 2

[**.{html,blade.php}]
indent_style = space
indent_size = 2

[**.{diff,md}]
trim_trailing_whitespace = false

[{package.json,composer.json}]
indent_style = space
indent_size = 2

[features/*.feauture]
indent_size = 4
max_line_length = 80
